{% extends '_base.html' %}

{% block title %}totly - update your details{% endblock title %}

{% block content %}

<div class="md:mt-20 px-4 pt-16 pb-14 md:flex flex-col justify-center items-center" 
styl="border: 1px solid red;">
  <div class="xsm:w-[90%] lg:w-2/4 " styl="border: 1px solid blue;">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="md:flex md:items-start justify-around">
      <h2 class="text-lg  mb-8 font-header">
        Welcome to your profile page! This page provides you with an overview of your user profile information
        and allows you to update your profile details.
      </h2>
    </div>

    <form method="post" styl="border: 2px dotted greenyellow;">
      {% csrf_token %}

      <div class="mt-4 md:flex md:items-center justify-around">
        <label for="id_first_name" class="md:w-1/4 block">First name</label>
        <input type="text" name="first_name" value="{{ request.user.first_name }}" maxlength="150" required
          id="id_first_name" class="w-full md:w-1/4 mt-2 md:mt-0">
      </div>

      <div class="mt-4 md:flex md:items-center justify-around">
        <label for="id_last_name" class="md:w-1/4 block">Last name</label>
        <input type="text" name="last_name" value={{request.user.last_name}} maxlength="150" required id="id_last_name"
          class="w-full md:w-1/4 mt-2 md:mt-0">
      </div>


      <div class=" flex justify-center mt-12">
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded">Save changes</button>
      </div>
    </form>
  </div>

  <!-- ====================== Email Address ================= -->
  <div class="md:px-6 mt-20 xsm:w-[90%] lg:w-2/4 md:pl-24 relative" styl="border: 2px dashed green;">
    <p class="font-bold">Email</p>
    <a href="{% url 'account_email' %}" class="text-blue-500 float-right absolute top-0 right-2.5">Email settings</a>


    <ul class="mt-2 space-y-3 mb-10">
      {% if primary_email %}
      <li>{{ primary_email.email }} (primary)</li>
      {% endif %}

      {% for email_address in other_email_address %}
      <li>{{ email_address.email }}</li>
      {% endfor %}
    </ul>
  </div>

  <!-- =========================== Password ========================= -->
  <div class="xsm:w-[90%] lg:w-2/4  md:pl-24 mt-6" styl="border: 2px solid black;">
    <h2 class="font-bold">Password</h2>
    <p>

      To change your password, navigate to the
      <a href="{% url 'account_set_password' %}" class="text-blue-500">
        change password</a> page.
    </p>

    <p>
      On the change password page, you will be required to provide your current password and enter your new password.
      Make sure to choose a strong and unique password
    </p>
  </div>
</div>

{% endblock content %}